<launch>

  <!-- wpb_move core-->
  <node pkg="wpb_move" type="wpb_core" name="wpb_core" output="screen">
    <param name="serial_port" type="string" value="/dev/ftdi"/>
    <param name="odom" type="bool" value="false"/>
    <!-- <rosparam file="$(find wpb_move)/config/wpb_ai.yaml" command="load" /> -->
  </node>

  <!-- js node -->
  <node respawn="true" pkg="joy" type="joy_node" name="wpb_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="wpb_move" type="wpb_js_vel" name="teleop">
    <!-- Axes Velcmd -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="1" type="double"/>
    <param name="scale_angular" value="2" type="double"/>
  </node>

</launch>
